/dot-emacs.d/auto-save-list/
/dot-emacs.d/ac-comphist.dat/
/dot-emacs.d/backups/
/dot-emacs.d/elpa
/dot-emacs.d/rcirc-log/
/dot-w3m/history

*~
\#*
.DS_Store
*.beam

/dot-ssh/*
!/dot-ssh/config
!/dot-ssh/github_rsa.pub
!/dot-ssh/kit_rsa.pub
dot-emacs.d/smex-items
dot-emacs.d/auto-complete/
dot-emacs.d/ac-comphist.dat