"*":
  "atom-beautify":
    general:
      _analyticsUserId: "fba89aa7-eae3-4353-8c7a-a64bbd6968fc"
  "auto-update-packages":
    intervalMinutes: 60
  core:
    audioBeep: false
    disabledPackages: [
      "bottom-dock"
    ]
    projectHome: "/Users/uwe/dev"
    telemetryConsent: "limited"
  editor:
    backUpBeforeSaving: true
    fontFamily: "Fira Code"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "275731f4-a46c-4ed9-3d11-f06d6553ac7c"
  "file-types":
    "dot-gitconfig": "source.git-config"
  "git-diff-details":
    enableSyntaxHighlighting: true
  "git-plus":
    general:
      _analyticsUserId: "2db7fe5b-81eb-409e-985e-d6af9c096137"
  "go-config": {}
  "go-plus":
    currentPanelHeight: "24.392296185489904vh"
    currentPanelWidth: "31.084656084656086vw"
    format:
      tool: "goreturns"
    goPath: "~/dev/go"
    navigator: {}
    panelDisplayMode: "closed"
    test:
      coverageDisplayMode: "gutter"
      coverageHighlightMode: "covered"
      runTestsOnSave: false
  "gometalinter-linter":
    args: [
      "--json"
      "--vendor"
      "--fast"
      "--tests"
      "--disable=gocyclo"
      "--disable=dupl"
      "--disable=gotype"
      "--disable=gas"
      "./..."
    ]
  linter:
    errorPanelHeight: 685
  "linter-docker": {}
  "linter-pep8":
    ignoreErrorCodes: [
      "E501"
    ]
  "linter-rust":
    cargoPath: "/usr/local/bin/cargo"
  minimap:
    absoluteMode: true
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
  "one-dark-ui":
    layoutMode: "Compact"
  pigments: {}
  racer: {}
  "rust-api-docs-helper": {}
  "tester-go":
    coverageHighlightMode: "covered"
    runTestsOnSave: false
  "tree-view":
    hideVcsIgnoredFiles: true
  "w3c-validation":
    validateOnChange: false
    validateOnSave: false
  welcome:
    showOnStartup: false
  wrap: {}
